:root{
  --color-accent: #6b7280
}

body {
  font: 100%/1.5 system-ui;
  max-width: 900px;
  margin: 0 auto;
  padding: 0 20px;
}


input,
textarea,
button {
  font: inherit;
  display: block;
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

label{
  display:contents;
}

input,
textarea {
  width: 100%;
  box-sizing: border-box;
}

textarea,
button {
  grid-column: 1 / -1;
}

label {
  display: contents;
  margin-top: 10px;
  margin-bottom: 5px;
}

button {
  display: block;
  width: 100%;
  padding: 10px;
  margin-top: 15px;

  font: inherit;           
  background-color: #fbcfe8; 
  border: none;
  border-radius: 5px;
}




nav {
  display: flex;
  gap: 20px;
  border-bottom: 1px solid var(--color-accent);
  margin-bottom: 20px;
}

nav a {
  flex: 1;
  text-align: center;
  padding: 0.5em;
  text-decoration: none;
  color: inherit;
}
nav a.current {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
  font-weight: bold;
}
nav a:hover {
  background-color: pink;
}

.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

.projects h2 {
  margin: 0;
}

.projects img {
  width: 100%;
}

h1 {
  font-size: 400%;
}

h1, h2, h3, h4, h5, h6 {
  line-height: 1.1;
  text-wrap: balance;
}
